/web/node_modules
/web/package-lock.json

/server/node_modules
/server/package-lock.json
/server/data

/six-degrees-worker/node_modules
/six-degrees-worker/package-lock.json
/six-degrees-worker/redis/node_modules
/six-degrees-worker/.env

/data